/* -----------------GENERAL------------------- */
p {
    color: grey;
}

.btn {
    font-size: 19px;
    padding: 20px 50px;
    background-color: white;
    border: 3px solid rgb(198, 29, 178);
    border-radius: 35px;
}
/* -----------------HEADER-------------------- */
header {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: grey;
}

.fa-bars {
    display: none;
}

.header__logo {
    margin-top: 2px;
}

.header__nav {
    margin-top: 11px;
    margin-bottom: 5px;
}

header .nav-link {
    padding-left: 25px;
}

header .nav-link-pink {
    color: rgb(198, 29, 178);
    padding-left: 25px;
}

/* ---------------HERO & TOP CTA-------------- */
.hero__section {
    display: flex;
    
}

.hero__left {
    text-align: left;
    width: 620px;
    margin-top: 182px;
}

.hero__right {
    margin-top: 100px;
}

.hero__pretitle {
    font-size: 19px;
    font-weight: 500;
    padding-top: 18px;
    color: rgb(198, 29, 178);
}

.hero__title {
    font-size: 78px;
    padding-top: 24px;
}

.hero__text {
    font-size: 19px;
    padding-bottom: 20px;
}

.hero__img {
   object-position: right top;
}

/* --------------MIDDLE SECTION--------------- */

/* --------------CARDS SECTION---------------- */

/* -----------------BOTTOM CTA---------------- */

/* -----------------CONTACTS------------------ */

/* --------------------FOOTER----------------- */

/* ----------428px MOBILE RESPONSE------------ */
@media screen and (max-width: 428px){

    header {
        margin: 32px 32px;
    }
  
    .header__nav {
        display: none;
    }

    .fa-bars {
        display: flex;
        font-size: 25px;
    }

    .hero__section {
        background-image: url(../img/hero.png);
        margin-top: 0;
        padding-bottom: 380px;
        display: flex;
        margin-left: 32px;
        flex-direction: column;
        
    }

    .hero__left {
        display: flex;
        align-items: left;
    }

    .hero__img {
        display: none;
    }

    .hero__title {
        font-size: 50px;
        
    }
  
}