/* -----------------GENERAL------------------- */
.container {
    background-color: tomato;
}
/* -----------------HEADER-------------------- */

/* ---------------HERO & TOP CTA-------------- */

/* --------------MIDDLE SECTION--------------- */

/* --------------CARDS SECTION---------------- */

/* -----------------BOTTOM CTA---------------- */

/* -----------------CONTACTS------------------ */

/* --------------------FOOTER----------------- */

