/* -----------------GENERAL------------------- */
p {
    color: grey;
}

.btn {
    font-size: 19px;
    padding: 20px 50px;
    background-color: white;
    border: 3px solid rgb(198, 29, 178);
    border-radius: 35px;
}
/* -----------------HEADER-------------------- */
header {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: grey;
}

.fa-bars {
    display: none;
}

.header__logo {
    margin-top: 2px;
}

.header__nav {
    margin-top: 11px;
    margin-bottom: 5px;
}

header .nav-link {
    padding-left: 25px;
}

header .nav-link-pink {
    color: rgb(198, 29, 178);
    padding-left: 25px;
}

/* ---------------HERO / TOP CTA SECTION-------------- */
.hero-section {
    display: flex;
    padding-bottom: 115px;
}

.hero__left {
    text-align: left;
    width: 620px;
    margin-top: 182px;
}

.hero__right {
    margin-top: 100px;
}

.hero__pretitle {
    font-size: 19px;
    font-weight: 500;
    padding-top: 18px;
    color: rgb(198, 29, 178);
}

.hero__title {
    font-size: 78px;
    padding-top: 24px;
}

.hero__text {
    font-size: 19px;
    padding-bottom: 20px;
}

/* --------------MIDDLE SECTION--------------- */
.middle-section {
    height: 320px;
    background-image: linear-gradient(to right, rgb(212, 0, 152), rgb(211, 188, 210), rgb(50, 154, 229));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.middle-section__title {
    font-size: 35px;
    font-weight: 100;
    margin-left: 60px;
    text-align: left;
    margin-top: 160px;
    
}

.middle-section__text {
    color: black;
    font-size: 19px;
    margin-left: 60px;
    text-align: left;
    margin-bottom: 60px;
}

.middle-section__logos {
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 140px;
}
/* --------------CARDS SECTION---------------- */
.cards {
    display: flex;
    justify-content: space-between;
}

.cards__title {
    font-size: 35px;
    font-weight: 100;
    display: block;
}

.cards__subtitle {
    font-size: 19px;
    display: block;
    padding-bottom: 40px;
}

.card {
    background-color: rgb(234, 236, 239);
    border-radius: 10px;
}

.card__grid {
    display: grid;
    grid-template-areas: 
    'item1 item2'
    'item3 item4'
    'item5 item6';
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.card__series {
    color: orange;
    font-size: 10px;
}

.card__bid {
    font-size: 10px;
}

.card__name {
  
}

.card__price {
    color: black;
    font-size: 17px;
}

.card__rank {
}

.card__bid-expiration {
    font-size: 15px;
}

.card__series,
.card__name,
.card__rank,
.card__bid,
.card__price,
.card__bid-expiration {
    padding: 24px;
} 

/* -----------------BOTTOM CTA SECTION---------------- */

/* -----------------CONTACTS------------------ */

/* --------------------FOOTER----------------- */

/* ----------428px MOBILE RESPONSE------------ */
@media screen and (max-width: 428px){

    header {
        margin: 32px 32px;
        text-align: left;
    }
  
    .header__nav {
        display: none;
    }

    .fa-bars {
        display: flex;
        font-size: 25px;
    }

    .hero__section {
        background-image: url(../img/hero.png);
    }

    .hero__left {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-left: 32px;
    }

    .hero__img {
        display: none;
    }

    .hero__title {
        font-size: 50px;
    }

    .middle-section__logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 32px;
    }

    .odd-logo {
        display: none;
    }

    .cards {
        display: none;
        background-image: url(../img/nft-1.svg);
    }
  
}