/* -----------------GENERAL------------------- */

/* -----------------HEADER-------------------- */
header {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: grey;
}

.header__logo {
    margin-top: 2px;
}

.header__nav {
    margin-top: 11px;
    margin-bottom: 5px;
}

header .nav-link-pink {
    color: rgb(198, 29, 178);
    padding-left: 25px;
}

header .nav-link {
    padding-left: 25px;
}
/* ---------------HERO & TOP CTA-------------- */

/* --------------MIDDLE SECTION--------------- */

/* --------------CARDS SECTION---------------- */

/* -----------------BOTTOM CTA---------------- */

/* -----------------CONTACTS------------------ */

/* --------------------FOOTER----------------- */

