/* ----------------------GENERAL--------------------- */
p {
    color: grey;
    font-size: 19px;
}

.btn {
    font-size: 19px;
    padding: 25px 55px;
    background-color: white;
    border: 3px solid rgb(198, 29, 178);
    border-radius: 40px;
}
/* ----------------------HEADER---------------------- */
header {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: grey;
}

.fa-bars {
    display: none;
}

.header__logo {
    margin-top: 2px;
}

.header__nav {
    margin-top: 11px;
    margin-bottom: 5px;
}

header .nav-link {
    padding-left: 25px;
}

header .nav-link-pink {
    color: rgb(198, 29, 178);
    padding-left: 25px;
}

/* ---------------HERO / TOP CTA SECTION-------------- */
.hero-section {
    display: flex;
    padding-bottom: 115px;
}

.hero__left {
    text-align: left;
    width: 620px;
    margin-top: 182px;
}

.hero__right {
    margin-top: 100px;
}

.hero__pretitle {
    font-size: 17px;
    font-weight: 700;
    margin: 0 auto;
    color: rgb(198, 29, 178);
}

.hero__title {
    font-size: 80px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.hero__text {
    font-size: 19px;
    padding-bottom: 25px;
    line-height: 1.6;
}

/* --------------------MIDDLE SECTION---------------- */
.middle-section {
    height: 320px;
    background-image: linear-gradient(to right, rgb(212, 0, 152), rgb(211, 188, 210), rgb(50, 154, 229));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.middle-section__title {
    font-size: 35px;
    font-weight: 100;
    margin-left: 60px;
    text-align: left;
    margin-top: 160px;
    
}

.middle-section__text {
    color: black;
    font-size: 19px;
    margin-left: 60px;
    text-align: left;
    margin-bottom: 60px;
}

.middle-section__logos {
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 140px;
}

.cropped-logo {
    display: none;
}
/* --------------------CARDS SECTION----------------- */
.cards {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(234, 236, 239);
    padding-bottom: 120px;
}

.cards__title {
    font-size: 35px;
    font-weight: 100;
    display: block;
}

.cards__subtitle {
    font-size: 19px;
    display: block;
    padding-bottom: 40px;
}

.card {
    background-color: rgb(234, 236, 239);
    border-radius: 15px;
}

.card__grid {
    display: grid;
    grid-template-areas: 
    'item1 item2'
    'item3 item4'
    'item5 item6';
}

.item1 {
    grid-area: item1;
    color: rgb(255, 132, 0);
    font-size: 11px;
    padding: 20px 24px 5px;
    text-align: left;
}

.item2 {
    grid-area: item2;
    font-size: 11px;
    padding: 20px 24px 5px;
    text-align: right;
    color: grey;
}

.item3 {
    grid-area: item3;
    color: black;
    font-size: 17px;
    padding: 5px 24px;
    text-align: left;
}

.item4 {
    grid-area: item4;
    color: black;
    font-size: 17px;
    padding: 5px 24px;
    text-align: right;
}

.item5 {
    grid-area: item5;
    font-size: 15px;
    padding: 5px 24px 24px;
    text-align: left;
    color: grey;
}

.item6 {
    grid-area: item6;
    font-size: 15px;
    padding: 5px 24px 24px;
    text-align: right;
    color: grey;
}
/* -----------------BOTTOM CTA SECTION---------------- */
.bottom-section {
    padding-top: 120px;
    border-bottom: 3px solid rgb(234, 236, 239);
    display: flex;
}

.bottom-section__left {
    text-align: left;
    width: 45%;
}

.bottom-section__right {
    margin: 0 auto;
}

.bottom-section__pretitle {
    font-size: 17px;
    font-weight: 700;
    margin: 0 auto;
    color: rgb(198, 29, 178);
}

.bottom-section__title {
    font-size: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
}

.bottom-section__text {
    font-size: 19px;
    padding-bottom: 25px;
    line-height: 1.6;
}
/* -----------------------FOOTER----------------------- */
footer {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table {
    text-align: left;
}

td {
    padding: 6px 45px;
    font-size: 16px;
    color: grey;
}

th {
    padding: 0 45px 20px; 
    font-weight: 400;
    font-size: 16px;
    color: rgb(32, 30, 30);
}

.footer__left p {
    font-size: 16px;
}

.footer__bottom { 
    display: flex;
    justify-content: space-between;
    padding-bottom: 71px;
}

.footer__bottom p {
    font-size: 16px;
    color: rgb(180, 180, 180);
}

.footer__logo {
    padding-bottom: 15px;
}

.footer__icons {
    font-size: 25px;
    color: grey;
    padding-bottom: 120px;
}
/* -----------------------------428px MOBILE RESPONSE-------------------------- */
@media screen and (max-width: 428px){
/* ----------------------HEADER----------------------- */
    header {
        margin: 32px 32px;
        text-align: left;
    }
  
    .header__nav {
        display: none;
    }

    .fa-bars {
        display: flex;
        font-size: 25px;
    }
/* ---------------HERO / TOP CTA SECTION-------------- */
    .hero-section {
        padding-bottom: 90px;
    }

    .hero__left {
        text-align: left;
        margin-left: 32px;
        margin-top: 50px;
        width: 80%;
    }

    .hero__title {
        font-size: 45px;
    }

    .hero__text {
        width: 81%;
        margin-bottom: 10px;
    }

    .hero__img {
        display: none;
    }

    .hero__right {
        width: 20px;
        background-image: url(../img/hero.png);
    }
/* -------------------MIDDLE SECTION------------------ */
    .middle-section {
        border-radius: 0;
        display: flex;
        align-items: center;
    }

    .middle-section__logos {
        padding: 70px 32px 70px;
        display: flex;
        flex-wrap: wrap;
    }

    .odd-logo {
        display: none;
    }

    .croppped-logo {
        /* display: block; IDEJA NEVEIKIA */
    }

/* ----------------CARDS SECTION---------------------- */
  
/* -----------------BOTTOM CTA SECTION---------------- */

/* -----------------------FOOTER---------------------- */  

}