/* -----------------GENERAL------------------- */

/* -----------------HEADER-------------------- */
header {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
    
}

.header__logo {
    margin-top: 2px;
}

.header__nav {
    margin-top: 11px;
    margin-bottom: 5px;
}

.nav-link-pink {
    color: pink;
}
/* ---------------HERO & TOP CTA-------------- */

/* --------------MIDDLE SECTION--------------- */

/* --------------CARDS SECTION---------------- */

/* -----------------BOTTOM CTA---------------- */

/* -----------------CONTACTS------------------ */

/* --------------------FOOTER----------------- */

